<% include ./partials/header %>

    <div class="container">
        <div class="row">
            <div style="width: 30%; margin:30px auto;">
                <h1 style="text-align: center">Register Customer</h1>
                <form action="/registercustomer" method="POST">
                    <div class="form-group">
                        <input class="form-control" name="custregistername" placeholder="Customer Name" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="customerregisterpassword" type="password" placeholder="Customer Password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Register!</button>
                    </div>
                </form>
                <h1 style="text-align: center">Register Agent</h1>
                <form action="/registeragent" method="POST">
                    <div class="form-group">
                        <input class="form-control" name="agentregistername" placeholder="Agent Name" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="agentregisterpassword" type="Password" placeholder="Agent password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Register!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<% include ./partials/footer %>