<% include ./partials/headeragentcustomer %>

    <div class="container">
        <div class="row">
            <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <h1 style="text-align: center">Search Products</h1>
                    <form action="/">
                        <div class="form-group">
                            <textarea class="form-control" rows="20" type="text" name="search_products_query" placeholder="Queries" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">    
                    <h1 style="text-align: center">Order Products</h1>
                    <form action="/">
                        <div class="form-group">
                            <textarea class="form-control" rows="20" type="text" name="order_products_query" placeholder="Queries"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">    
                    <h1 style="text-align: center">List Products</h1>
                    <form action="/">
                        <div class="form-group">
                            <textarea class="form-control" rows="20" type="text" name="list_products_query" placeholder="Queries"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<% include ./partials/footer %>