<% include ./partials/headermain %>
    
    
    <h1 align = "center"> CMPUT 291 </h1>
    <h2 align = "center">Mini Project 1</h2>
    <div style="text-align: center">
        <a href="/createandinsert">
            <input align = "center" type="button" class="button" value="Click To Insert and Populate Tables!">
        </a>
    </div>
    <h3 align = "center">Riley, Louis, Helen</h3>


<% include ./partials/footer %>