<% include ./partials/header %>

    <div class="container">
        <div id="landing-header">
            <h1>CMPUT 291 Mini Project 1</h1>
            <hr>
            <h4>Riley, Louis, Helen</h4>
        </div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>