<% include ../partials/headerinsertcreate %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create Tables Queries</h1>
            <form action="/createtables" method="POST">
                <div class="form-group">
                    <textarea class="form-control" rows="20" type="text" name="querystring" placeholder="Queries"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>

<% include ../partials/footer %>